/*Base Font */


p, a, li, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif, 'Open Sans', sans-serif, 'Metrophobic', sans-serif;
}

/* Base colors */

h2, h3, h4, h5, h6 {
  color: #7899AB !important;
}

h2> a {
 color: #7899AB !important;
}


/* Over riding bootstrap */
.navbar-nav li a{
  color: #fff !important;
}

h1 a {
  text-decoration: none;
  color: #fff;
}

h1 a:hover, a:focus {
  color: #fff;
  text-decoration: none;
}
